body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    text-align: justify;
}
.mission-top{
    display: flex;
   
}
h1{
    font-size: 50px;
    font-weight: 700;
    
}
p{
    font-size: 17px;
}
#font-color{
    color: brown;
}
.heading-1{
    width: 60%;
    padding-left: 6%;
    padding-top: 8%;
  
}
.image-1 img{
    width: 40%;
    margin-top: 0%;
    margin-left: 20%;
}
.heading-1 p{
    padding-bottom: 8px;
}
.title h1{
    margin-bottom: 0%;
    margin-top: 0%;
}

.link-button{
    text-decoration: none;
    background-color: black;
    color: white;
    padding: 8px 14px;
    border-radius: 7px;
}
.p{
    padding-left: 6%;
}